body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculator {
    display: flex;
    margin: 0 auto;
    align-self: center;
    width: 450px;
    flex-direction: column;
    align-content: stretch;
}

button {
    width: 100px;
    height: 80px;
}

.display {
    width: 400px;
    text-align: right;
}