body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculator {
    display: flex;
    align-self: center;
    width: 415px;
    flex-direction: column;
    align-content: stretch;
    background-color: grey;
    padding: 16px;
    gap: 8px;
}

button {
    width: 100px;
    height: 80px;
    padding: 16px;
    border-radius: 12px;
    border: 2px solid black;
}

button:hover {
    opacity: 0.75;
    cursor: pointer;
}

button:active {
    opacity: 0.5;
}

.display {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 412px;
    height: 60px;
    padding: 0px;
    margin: 0px;
    text-align: right;
    background-color: white;
}

.misc-button {
    background-color: orangered;
}

.operator-button {
    background-color: #4287f5;
}

.number-button {
    background-color: #f542ef;
}

#equals {
    background-color: #42f55a;
}